@media (max-width: 640px) {
  /* React-Datepicker Customization */
  .react-datepicker {
    font-family: "Poppins", sans-serif !important;
    padding: 15px !important;
    width: 100vw !important;
    border: none !important;
    background-color: #f9fafb !important;
  }

  .react-datepicker__month-container {
    float: none !important;
  }

  .react-datepicker__tab-loop {
    z-index: 40;
  }

  .react-datepicker__header {
    border: none !important;
    background-color: transparent !important;
  }

  .react-datepicker__triangle {
    display: none !important;
  }

  .react-datepicker__navigation {
    margin-top: 20px !important;
  }

  .react-datepicker__header__dropdown {
    margin-top: 22px !important;
  }

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 2.5rem !important;
    line-height: 2.5rem !important;
    margin: 4px !important;
    font-weight: 500;
  }

  .react-datepicker__day {
    border-radius: 8px !important;
  }

  .react-datepicker__day--keyboard-selected {
    background-color: #D9E8FF !important;
    color: #2263DF !important;
  }

  .react-datepicker__day--selected {
    background-color: #D9E8FF !important;
    color: #2263DF !important;
  }

  .react-datepicker__day-name {
    color: gray !important;
    font-size: small;
    font-weight: 200;
  }

  .react-datepicker__day-names {
    margin-top: 5rem !important;
  }
}
