@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* Custom Colors */
    --navy-blue: 217, 79%, 21%, 1;
    --navy-blue-dark: 217, 80%, 16%, 1;

    --sky-blue: 220, 75%, 50%, 1;
    --sky-blue-low: 220, 75%, 50%, 0.8;
    --sky-blue-dark: 220, 78%, 40%, 1;
    --sky-blue-light: 216, 100%, 93%, 1;

    --teal-primary: 173, 100%, 43%, 1;
    --teal-dark: 173, 100%, 35%, 1;
    --teal-light: 173, 64%, 67%, 0.25;

    --pink-primary: 314, 100%, 60%, 1;
    --pink-dark: 314, 71%, 44%, 1;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer components {
  .tracking-dot {
    @apply sm:w-6 sm:h-6 w-5 h-5 rounded-full bg-gray-100 relative flex items-center justify-center;
  }
  .tracking-dot.completed {
    @apply bg-teal-400;
  }
  .tracking-bar {
    @apply flex-1 sm:h-[.6rem] h-[.3rem] rounded-full bg-gray-100;
  }
  .tracking-bar.completed {
    @apply bg-teal-400;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* Stripe Button Gradient */
.stripe-button-gradient {
  background: linear-gradient(
    97.68deg,
    #ffc327 20.76%,
    #ff274e 50.53%,
    #fa00ff 83.52%
  );
}
